[submodule "common"]
	path = common
	url = https://stash.r.mutualmobile.com/scm/aut/common.git
[submodule "southwire-pkg-uiautomation-webdriver"]
	path = southwire-pkg-uiautomation-webdriver
	url = https://stash.r.mutualmobile.com/scm/aut/southwire-pkg-uiautomation-webdriver.git
